.jumbo1 {
  text-align:right;
  color:darkred;
  margin-left:auto
}
.image {
  float:right;
  width:50%;
  border: 1px solid rgb(80, 148, 252);
}
.image2 {
  float:left;
  margin-top:.1in;
  width:200px;
}
body {
  background-image: url(../img/parchment.jpg)
}
.card {
  background-color: transparent;
  border-color:darkred;
  margin-bottom: -500px
}
.jumbotron {
  background-color:transparent;
}
h2 {
  color:darkred;
}
.underl {
  text-decoration: underline;
}
.test1 {
  text-align:right;
  padding-left:75%;
}